<form class="login100-form validate-form" method="POST" id="login">
	<span class="login100-form-logo">
		<i class="zmdi zmdi-landscape"></i>
	</span>

	<span class="login100-form-title p-b-34 p-t-27">
		Log in
	</span>

	<div class="wrap-input100 validate-input" data-validate = "Enter email">
		<input class="input100" type="email" name="email" placeholder="Email">
		<span class="focus-input100" data-placeholder="&#xf207;"></span>
	</div>

	<div class="wrap-input100 validate-input" data-validate="Enter password">
		<input class="input100" type="password" name="password" placeholder="Password">
		<span class="focus-input100" data-placeholder="&#xf191;"></span>
	</div>

	<div class="container-login100-form-btn">
		<button class="login100-form-btn">
			Login
		</button>
	</div>

	<div class="text-center p-t-15">
			OR
	</div>

	<div class="text-center p-t-27">
		<a class="txt1" href="/user/register">
			Registration
		</a>
	</div>
</form>