
      <div id="rev_slider_14_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="gravitydesign1" data-source="gallery" style="background:#1d2931;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
        <div id="rev_slider_14_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
          <ul>  <!-- SLIDE  -->
            <li data-index="rs-32" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="/404/assets/img/transparent.png" data-bgcolor="#1d2931"
              ' style='background:#1d2931' alt="Image description" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg">
              <!-- LAYERS -->

              <!-- LAYER NR. 1 -->
              <div class="tp-caption   tp-resizeme"
                   id="slide-32-layer-1"
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
                   data-width="full-proportional"
                   data-height="full-proportional"
                   data-whitespace="nowrap"

                   data-type="image"
                   data-basealign="slide"
                   data-responsive_offset="on"

                   data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                   data-textAlign="['inherit','inherit','inherit','inherit']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 5;">
                <img src="/404/assets/img/gravity_bg.jpg" alt="Image description" data-ww="['full-proportional','full-proportional','full-proportional','full-proportional']" data-hh="['full-proportional','full-proportional','full-proportional','full-proportional']" width="1920" height="1280">
              </div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
                   id="slide-32-layer-8"
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['597','517','597','497']"
                   data-fontsize="['120','120','120','80']"
                   data-lineheight="['90','90','90','60']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="text"
                   data-responsive_offset="on"

                   data-frames='[{"delay":1300,"speed":2000,"frame":"0","from":"sX:2;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                   data-textAlign="['center','center','center','center']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 6; white-space: nowrap; font-size: 120px; line-height: 90px; font-weight: 700; color: rgba(255,0,255,1);font-family:Poppins;letter-spacing:-10px;">
                <div class="rs-looped rs-wave" data-speed="3" data-angle="0" data-radius="2px" data-origin="50% 50%">404
                  <br/>
                  NOT FOUND
                </div>
              </div>

              <!-- LAYER NR. 3 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
                   id="slide-32-layer-7"
                   data-x="['center','center','center','center']" data-hoffset="['-3','-3','-3','-3']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['600','520','600','500']"
                   data-fontsize="['120','120','120','80']"
                   data-lineheight="['90','90','90','60']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="text"
                   data-responsive_offset="on"

                   data-frames='[{"delay":1200,"speed":2000,"frame":"0","from":"sX:2;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                   data-textAlign="['center','center','center','center']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 7; white-space: nowrap; font-size: 120px; line-height: 90px; font-weight: 700; color: rgba(255,255,0,1);font-family:Poppins;letter-spacing:-10px;">
                <div class="rs-looped rs-wave" data-speed="3" data-angle="0" data-radius="2px" data-origin="50% 50%">404
                  <br/>
                  NOT FOUND
                </div>
              </div>

              <!-- LAYER NR. 4 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
                   id="slide-32-layer-5"
                   data-x="['center','center','center','center']" data-hoffset="['3','3','3','3']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['600','520','600','500']"
                   data-fontsize="['120','120','120','80']"
                   data-lineheight="['90','90','90','60']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="text"
                   data-responsive_offset="on"

                   data-frames='[{"delay":1100,"speed":2000,"frame":"0","from":"sX:2;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                   data-textAlign="['center','center','center','center']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 8; white-space: nowrap; font-size: 120px; line-height: 90px; font-weight: 700; color: rgba(0,255,255,1);font-family:Poppins;letter-spacing:-10px;">
                <div class="rs-looped rs-wave" data-speed="3" data-angle="0" data-radius="2px" data-origin="50% 50%">404
                  <br/>
                  NOT FOUND
                </div>
              </div>

              <!-- LAYER NR. 5 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
                   id="slide-32-layer-3"
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['600','520','600','500']"
                   data-fontsize="['120','120','120','80']"
                   data-lineheight="['90','90','90','60']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="text"
                   data-responsive_offset="on"

                   data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:2;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                   data-textAlign="['center','center','center','center']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 9; white-space: nowrap; font-size: 120px; line-height: 90px; font-weight: 700; color: rgba(255,255,255,1);font-family:Poppins;letter-spacing:-10px;">404
                <br/>
                NOT FOUND
              </div>

              <!-- LAYER NR. 6 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
                   id="slide-32-layer-15"
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['119','99','200','220']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="image"
                   data-responsive_offset="on"

                   data-frames='[{"delay":850,"speed":2000,"frame":"0","from":"sX:1.1;sY:1.1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                   data-textAlign="['inherit','inherit','inherit','inherit']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 10;">
                <div class="rs-looped rs-wave" data-speed="5" data-angle="0" data-radius="3px" data-origin="50% 50%">
                  <img src="/404/assets/img/galaxy_bg-1.png" alt="Image description" data-ww="['509px','509px','509px','407px']" data-hh="['250px','250px','250px','200px']" width="407" height="200">
                </div>
              </div>

              <!-- LAYER NR. 7 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                   id="slide-32-layer-2"
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['299','260','380','350']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="image"
                   data-responsive_offset="on"

                   data-frames='[{"delay":250,"speed":5000,"frame":"0","from":"y:100px;rZ:15deg;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                   data-textAlign="['inherit','inherit','inherit','inherit']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 11;">
                <div class="rs-looped rs-wave" data-speed="10" data-angle="0" data-radius="5px" data-origin="50% 50%">
                  <img src="/404/assets/img/gravity_astronaut.png" alt="Image description" data-ww="['820px','718px','615px','410px']" data-hh="['400px','350px','300px','200px']" width="1025" height="500">
                </div>
              </div>

              <!-- LAYER NR. 8 -->
              <a class="tp-caption   tp-resizeme"
                 href="/" target="_blank" id="slide-32-layer-16"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['230','210','310','310']"
                 data-fontsize="['25','25','25','20']"
                 data-lineheight="['25','25','25','20']"
                 data-width="['none','none','none','320']"
                 data-height="none"
                 data-whitespace="['nowrap','nowrap','nowrap','normal']"

                 data-type="text"
                 data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-32-layer-17","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-32-layer-17","delay":""}]'
                 data-responsive_offset="on"

                 data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"sX:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0px;","style":"c:rgba(255,255,255,1);"}]'
                 data-textAlign="['inherit','inherit','inherit','center']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"

                 style="z-index: 12; white-space: nowrap; font-size: 25px; line-height: 25px; font-weight: 300; color: rgba(255,255,255,1);font-family:Oswald;letter-spacing:10px;cursor:pointer;text-decoration: none;">GO TO MAIN
              </a>

              <!-- LAYER NR. 9 -->
              <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                   id="slide-32-layer-17"
                   data-x="['center','center','center','center']" data-hoffset="['-4','-4','-4','-4']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['221','201','301','300']"
                   data-width="['390','390','390','180']"
                   data-height="2"
                   data-whitespace="nowrap"

                   data-type="shape"
                   data-responsive_offset="on"

                   data-frames='[{"delay":"bytrigger","speed":500,"frame":"0","from":"sX:0;opacity:1;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":300,"frame":"999","to":"sX:0;opacity:1;","ease":"Power3.easeInOut"}]'
                   data-textAlign="['inherit','inherit','inherit','inherit']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"
                   data-lasttriggerstate="reset"
                   style="z-index: 13;background-color:rgba(255,255,255,1);"></div>

              <!-- LAYER NR. 10 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-3"
                   id="slide-32-layer-9"
                   data-x="['center','center','center','center']" data-hoffset="['-531','-531','-348','-204']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['350','350','421','431']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="image"
                   data-responsive_offset="on"

                   data-frames='[{"delay":250,"speed":3000,"frame":"0","from":"y:150px;rZ:90deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                   data-textAlign="['inherit','inherit','inherit','inherit']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 14;">
                <div class="rs-looped rs-wave" data-speed="5" data-angle="0" data-radius="3px" data-origin="50% 50%">
                  <img src="/404/assets/img/flake2.png" alt="Image description" data-ww="['29px','29px','29px','29px']" data-hh="['21px','21px','21px','21px']" width="29" height="21">
                </div>
              </div>

              <!-- LAYER NR. 11 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-3"
                   id="slide-32-layer-10"
                   data-x="['center','center','center','center']" data-hoffset="['493','493','326','194']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['399','399','408','438']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="image"
                   data-responsive_offset="on"

                   data-frames='[{"delay":350,"speed":3000,"frame":"0","from":"y:150px;rZ:-90deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                   data-textAlign="['inherit','inherit','inherit','inherit']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 15;">
                <div class="rs-looped rs-wave" data-speed="5" data-angle="0" data-radius="3px" data-origin="50% 50%">
                  <img src="/404/assets/img/flake5.png" alt="Image description" data-ww="['28px','28px','28px','28px']" data-hh="['27px','27px','27px','27px']" width="28" height="27">
                </div>
              </div>

              <!-- LAYER NR. 12 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-5"
                   id="slide-32-layer-11"
                   data-x="['center','center','center','center']" data-hoffset="['350','350','245','141']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['338','338','331','348']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="image"
                   data-responsive_offset="on"

                   data-frames='[{"delay":450,"speed":3000,"frame":"0","from":"y:150px;rZ:45deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                   data-textAlign="['inherit','inherit','inherit','inherit']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 16;">
                <div class="rs-looped rs-wave" data-speed="3" data-angle="0" data-radius="2px" data-origin="50% 50%">
                  <img src="/404/assets/img/flake4.png" alt="Image description" data-ww="['26px','26px','26px','26px']" data-hh="['24px','24px','24px','24px']" width="26" height="24">
                </div>
              </div>

              <!-- LAYER NR. 13 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-5"
                   id="slide-32-layer-12"
                   data-x="['center','center','center','center']" data-hoffset="['-455','-455','-321','-214']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['320','320','357','381']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="image"
                   data-responsive_offset="on"

                   data-frames='[{"delay":550,"speed":3000,"frame":"0","from":"y:150px;rZ:-125deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                   data-textAlign="['inherit','inherit','inherit','inherit']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 17;">
                <div class="rs-looped rs-wave" data-speed="5" data-angle="0" data-radius="4px" data-origin="50% 50%">
                  <img src="/404/assets/img/flake3.png" alt="Image description" data-ww="['27px','27px','27px','27px']" data-hh="['26px','26px','26px','26px']" width="27" height="26">
                </div>
              </div>

              <!-- LAYER NR. 14 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-4"
                   id="slide-32-layer-13"
                   data-x="['center','center','center','center']" data-hoffset="['-88','-88','-88','-37']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['382','382','382','399']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="image"
                   data-responsive_offset="on"

                   data-frames='[{"delay":650,"speed":3000,"frame":"0","from":"y:150px;rZ:125deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                   data-textAlign="['inherit','inherit','inherit','inherit']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 18;">
                <div class="rs-looped rs-wave" data-speed="6" data-angle="0" data-radius="3px" data-origin="50% 50%">
                  <img src="/404/assets/img/flake1.png" alt="Image description" data-ww="['13','13','13','13px']" data-hh="12px" width="25" height="24">
                </div>
              </div>

              <!-- LAYER NR. 15 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-4"
                   id="slide-32-layer-14"
                   data-x="['center','center','center','center']" data-hoffset="['-232','-232','-232','-170']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['300','300','300','366']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="image"
                   data-responsive_offset="on"

                   data-frames='[{"delay":750,"speed":3000,"frame":"0","from":"y:150px;rZ:-125deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                   data-textAlign="['inherit','inherit','inherit','inherit']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 19;">
                <div class="rs-looped rs-wave" data-speed="7" data-angle="0" data-radius="6px" data-origin="50% 50%">
                  <img src="/404/assets/img/flake3.png" alt="Image description" data-ww="['16px','16px','16px','16px']" data-hh="['15px','15px','15px','15px']" width="27" height="26">
                </div>
              </div>

            </li>
          </ul>
          <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
      </div><!-- END REVOLUTION SLIDER -->